* {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.logo {
  width: 10%;
}

ul {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

i {
  width: auto;
}

li {
  list-style: none;
  padding: 0.5rem;
}

/* Grid styles */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: 2rem;
}

/* images styles */
.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 1rem;
  gap: 1rem;
}

.description {
  display: flex;
  gap: 1rem;
}

.description p {
  font-size: 0.8rem;
  margin-top: 0;
}

.likes {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}

.count-likes {
  display: flex;
  gap: 0.5rem;
}

/* Media query para pantallas de hasta 754px */
@media (max-width: 754px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
