* {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.logo {
  width: 10%;
}

ul {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

i {
  width: auto;
}

li {
  list-style: none;
  padding: 0.5rem;
}

.pokemon-card {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 2rem;
  max-width: 500px;
  border: 2px solid black;
  border-radius: 5%;
  background-color: rgb(196, 202, 197);
  position: absolute;
}

.pokemon-card__image {
  display: flex;
  flex-direction: row;
  max-width: 250px;
  margin: 0 auto;
  border-radius: 10px;
}

.pokemon-card__title,
.pokemon-card__section-title {
  margin: 0 auto;
}

.columns {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.column {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.pokemon-card__input {
  max-width: 120px;
  margin-bottom: 10px;
}

.pokemon-card__button {
  max-width: 120px;
}

.popup-container {
  position: fixed;
  border-radius: 0.8rem;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  width: 60vw;
  height: auto;
  background-color: rgba(221, 50, 50, 0.903);
  text-align: center;
  z-index: 1000;
}

.popup-container h2 {
  text-align: center;
}

.popup-container img {
  width: auto;
  max-width: 250px;
  height: 250px;
}

.popup-container input,
.popup-container textarea {
  width: 100%;
}

.popup-container form {
  margin: 0 auto;
  width: 50%;
}

.popup-container span {
  position: absolute;
  right: 0;
  font-size: 4rem;
}

.pokeGroup {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  gap: 2rem;
  margin: 2rem;
  padding: 2rem;
  justify-content: space-around;
  align-items: center;
}

/* images styles */
.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
}

.size {
  width: 100px;
}

.description {
  display: flex;
  gap: 1rem;
}

.description p {
  font-size: 0.8rem;
  margin-top: 0;
}

.likes {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}

.count-likes {
  display: flex;
  gap: 0.5rem;
}

/* Media query para pantallas de hasta 754px */
@media (max-width: 754px) {
  .popup-container {
    width: 90%;
  }

  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

.popup-container .popup-skills {
  display: flex;
  justify-content: space-between;
}

.popup-container .comments-list li {
  margin: 0;
  padding: 0;
}

.popup-container .comments-list {
  display: flex;
  flex-direction: column;
  height: 120px;
  overflow-y: scroll;
  background-color: rgba(168, 50, 50, 0.842);
}
